*{
    margin: 0px;
    padding: 0px;
}
#espaço{
    position: relative;
    min-width: 1366px;
    max-width: 320px;
    min-height: 607px;
    max-height: 143px;
    display: block
}
#astronauta{
    position: absolute;
    top: 5%;
    left: 32%;
    width: 38%;
    height: 84%;
    display: block;
}