@charset "UTF8";
        body{
            background-color: #526159;
            text-align: justify;
        }
        h2{
            background-color: #806d8b5d;
            color:#65E09F;
            font-size: xx-large;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            text-align: center;
        }
        p{
            color:#E0B565;
            font-family: 'Times New Roman', Times, serif;
            font-size: x-large;
            text-align: left;
        }